*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;

}

body{
    overflow-x: hidden;
}


/*Seçao Banner*/

.banner-topo{
    width: 100%;
    background-image: url('/img/banner-topo.jpg');
    background-position:center;
    background-size: cover;
    padding: 120px 80px 120px 80px;
    
}

.logo-topo{
    max-width:255px;
    color: #3c184e;
}

.paragrafo1{
    font-size:35px;
    margin:0 0 5px 0;
    font-weight: bold;
}

.logo-topo img{
    width:30px;
    margin-right: 5px;
    text-align: center;
}

.paragrafo2{
    font-size:14px;
    text-align:center;
    margin:0px;
    font-weight: bold;
}

.card-topo{
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0px auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
}

.card-topo h1{
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}

.card-topo p {
    width: 200px;
    padding: 10px 25px 10px 25px;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
    
}

.card-topo a{
    color:  #ffff;
}

.card-topo img{
    width: 20px;
}

/*Seçao Serviços*/

.secao-servicos{
    width: 100%;
    padding: 120px 80px 120px 80px;
}

.secao-servicos h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.servicos-lista{
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}

.servicos-lista ul li{
    list-style: square;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.servicos-lista span{
    font-weight: 700;
    font-style: italic;
}

.servicos-imagens{
    max-width: 800px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.servicos-imagens img{
    border-radius: 5px;
    box-shadow: 3px 6px 10px #0000005c;
}

/*Seçao faixas sociais*/

.faixa-sociais{
    padding: 120px 80px 120px 80px;
    background-color: #3c184e;
    text-align: center;
}

.faixa-sociais p{
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: #ffff;
    text-align: center;
}

.faixa-sociais span{
    font-weight: 700;
    font-style: italic;

}

.imagens-sociais a img{
    margin: 0 20px 0 20px;
    width: 50px;
    height: 50px;
}

/*Seçao Marcas*/

.secao-marcas{
    width: 100%;
    padding: 120px 80px 120px 80px;
}

.secao-marcas h3{
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.marcas-imagens{
    max-width: 800px;
    margin: 0 auto 0 auto;
}

.marcas-imagens img{
    width: 148px;
    height: 148px;
    margin: 0 15px 0 15px;
}

/*Seçao Onde Estamos*/

.secao-onde-estamos{
    width: 100%;
    padding: 120px 80px 120px 80px;
    text-align: center;
}

.secao-onde-estamos h3{
    font-size: 36px;
    color: #3c184e; 
    text-align: center; 
    margin: 0 0 45px 0;
}

.secao-onde-estamos p{
    font-size: 20px;   
    color:#3c184e;
    align-items: center;
    margin: 0 0 45px 0; 
}

.secao-onde-estamos iframe{
    width: 800px;
    height: 450px;
    box-shadow: -5px 5px 10px #1f26875e ;
}

.rodape{
    max-width: 100%;
    padding: 10px 0 10px 0;
    background-color: #3c184e;
}

.rodape p{
    font-size: 12px;
    text-align: center;
    color: #ffff;
}




